<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Size</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/css/startmin.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <!--<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/header-admin :: header_admin_info (vm=${vm.getLayoutHeaderAdminVM()})"></div>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" id="main-title">Size</h1>
                    <div id="main-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary" id="new-product" data-toggle="modal" style="margin-bottom: 20px" data-target="#exampleModalLong">
                                    Thêm size
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <form style="float: right" class="form-inline my-2 my-lg-0 float-sm-right" th:action="@{/admin/size}" th:object="${sizename}"  method="get">
                                    <input class="form-control mr-sm-2" type="search" th:field="*{name}"  placeholder="Tìm kiếm..." aria-label="Search">
                                    <button class="btn btn-success" type="submit">Tìm kiếm</button>
                                </form>
                            </div>
                        </div>

                        <h2 th:if="${vm.getKeyWord()}" th:text="${vm.getKeyWord()}"></h2>


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="background-color: #1ab7ea; text-align: center; width: 70px">STT</th>
                                    <th style="background-color: #1ab7ea; text-align: center">Mã</th>
                                    <th style="background-color: #1ab7ea; text-align: center">Tên</th>
                                    <th style="background-color: #1ab7ea; text-align: center">Giới thiệu</th>
                                    <th style="background-color: #1ab7ea; text-align: center; width: 100px"></th>
                                    <th style="background-color: #1ab7ea; text-align: center; width: 100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="size,iter:${vm.getSizeVMList()}">
                                    <td th:text="${iter.index+1}" style="text-align: center"></td>
                                    <td th:text="${size.getId()}"></td>
                                    <td th:text="${size.getName()}"></td>
                                    <td th:text="${size.getShortDesc()}"></td>
                                    <td style="text-align: center">
                                        <i class="fa fa-edit tooltip-test edit-size" title="Sửa" th:attr="data-size = ${size.getId()}" data-toggle="modal" title="Edit supply" data-target="#exampleModalLong" style="cursor: pointer; font-size: 20px"></i>

                                        <!--<i class="fa fa-trash-o tooltip-test del-size" th:attr="data-size = ${size.getId()}" style="cursor: pointer; color: red; font-size: 20px"></i>-->

                                    </td>
                                    <td style="text-align: center" >
                                        <!--<i class="fa fa-edit tooltip-test edit-size" th:attr="data-size = ${size.getId()}" data-toggle="modal" title="Edit supply" data-target="#exampleModalLong" style="cursor: pointer; font-size: 20px"></i>-->

                                        <i class="fa fa-trash-o tooltip-test del-size" title="Xóa" th:attr="data-size = ${size.getId()}" style="cursor: pointer; color: red; font-size: 20px"></i>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #1ab7ea; border-radius: 4px 4px 0 0;">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="modal-title" style="color: white" id="exampleModalLongTitle">Cập nhật size</h5>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-body">

                    <input type="text" class="form-control" id="input-id" class="hidden">

                    <div class="form-group margin-bottom-15" style="margin-top: 20px">
                        <label>Tên:</label>
                        <input type="text" class="form-control" id="input-name">
                    </div>


                    <div class="form-group margin-bottom-15">
                        <label>Giới thiệu:</label>
                        <textarea type="text" class="form-control" id="input-desc"></textarea>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-save">Lưu</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /#wrapper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/js/startmin.js}"></script>

<script th:src="@{/js/admin-size.js}"></script>


</body>
</html>
