<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
</head>
<body>


<!-- Modal1 -->
<div th:fragment="quick-view" th:each="product: ${vm.getProductVMList()}"  th:attrappend="id=${'quickview'+product.getId()}" class="wrap-modal1 js-modal1 p-t-60 p-b-20 ">
    <div class="overlay-modal1 js-hide-modal1"></div>

    <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <img th:src="@{/images/icons/icon-close.png}" alt="CLOSE">
            </button>
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">
                                <div class="item-slick3" th:attr="data-thumb=${product.getMainImage()}">
                                    <div class="wrap-pic-w pos-relative">
                                        <img th:src="${product.getMainImage()}" alt="IMG-PRODUCT">
                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                           th:href="${product.getMainImage()}">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                                <div th:each="image:${product.getProductImageVMList()}" class="item-slick3"
                                     th:attr="data-thumb=${image.getLink()}">
                                    <div class="wrap-pic-w pos-relative">
                                        <img th:src="${image.getLink()}" th:alt="${image.getTitle()}">
                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                           th:href="${image.getLink()}">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <a th:href="${'/product/'+product.getId()}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 showProductDetail">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14" th:text="${product.getName()}">
                                Tên sản phẩm
                            </h4>
                        </a>

                        <span  class=" mb-5 fs-18 cl11">

						<i th:each="i: ${#numbers.sequence(1,5)}" th:if="${product.getRateAvg()>= i}" class="zmdi zmdi-star"></i>
					    <i th:each="i: ${#numbers.sequence(1,5)}" th:unless="${product.getRateAvg()>= i}" class="item-rating pointer zmdi zmdi-star-outline"></i>
                    </span> <br>
                        <span class="mtext-106 cl2" th:text="${product.getPrice()+' đ'}">
							Giá
						</span>

                        <p class="stext-102 cl3 p-t-23"  th:text="${product.getShortDesc()}">
                            Mô tả.
                        </p>

                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    Size
                                </div>

                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2 selectSize2" onchange="changeSize(this)"   placeholder="Chọn size">
                                            <option value="0">Chọn size</option>
                                            <option th:each="size : ${product.getSizeVMList()}"
                                                    th:value="${size.getId()}"
                                                    th:text="${size.getName()}"></option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    Màu sắc
                                </div>

                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">

                                        <select class="js-select2 selectColor2"   placeholder="Chọn màu">
                                            <option value="0">Chọn màu</option>
                                            <option th:each="color : ${product.getColorVMList()}"
                                                    th:value="${color.getId()}"
                                                    th:text="${color.getName()}"></option>
                                        </select>


                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">


                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                    <span style="color: red" id="warehouse"></span>
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04  add-to-cart"
                                            th:attr="data-product=${product.getId()}">
                                        <!--js-addcart-detail-->
                                        Thêm vào giỏ
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                            <div class="flex-m bor9 p-r-10 m-r-11">
                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                    <i class="zmdi zmdi-favorite"></i>
                                </a>
                            </div>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}" type="e5d6ee6a7978d5070e084177-text/javascript"></script>
<script th:src="@{/js/add-to-cart.js}"></script>
<script>
    function changeSize(that) {

        alert("size");
        // var id= $(that).val();
        //alert(id);
        if($('#selectColor :selected').val()=="0"){
            return;
        }
        getAmount();
    };
</script>
</body>
</html>