.mx-10px{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-15px{
    margin-top: 15px;
    margin-bottom: 15px;
}

.mt-10px{
    margin-top: 10px;
}
.mb-10px{
    margin-bottom: 10px;
}

.modalScroll {
    max-height: calc(90vh - 210px);
    overflow-y: auto;

}


/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: -10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.image-product-2{
    opacity: 0.8;
    cursor: pointer;
}


.image-product-2:hover{
    opacity: 1;
}

